# Terraform local state + cache
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables (often secrets)
*.tfvars
*.tfvars.json

# Terraform CLI config
.terraform.lock.hcl

# local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json